<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <<> directive will have its own
navigation history that also transitions its views in and out.
-->
<md-tabs flex md-align-tabs="bottom" md-stretch-tabs="always" class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
   <md-tab label="Happy Hours" icon-off="ion-android-happy" icon-on="ion-android-happy" ui-sref="tab.deals">
  
    <tab-body  ui-view name="tab-deals"></tab-body>
  </md-tab>

  <!-- Chats Tab -->
   <md-tab label="Tasting Rooms" icon-off="ion-ios-pint-outline" icon-on="ion-ios-pint" ui-sref="tab.trs">
  
    <tab-body ui-view name="tab-trs"></tab-body>
  </md-tab>

  <!-- Account Tab -->
  <md-tab ng-if="logged" label="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.account">
  <tab-body ui-view name="tab-account"></tab-body>
  </md-tab>


</md-tabs>
